.navigation {
  background-color: #EB1478;
  color: white;
  height: 70px;
  width: 100%;
}

#title {
  font-family: "Helvetica";
  font-size: 25px;
  font-weight: bolder;
}

.navbar-brand {
  text-decoration: none;
  color: inherit;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

/*font-family: "Benton Sans","Helvetica","sans-serif";*/
