<div class="navigation">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="" id="title">INDIEfauxGO</a>
        <a class="navbar-brand" routerLink="">Explore</a>
        <a class="navbar-brand" routerLink="">What We Do</a>
        <a class="navbar-brand" routerLink="">Search</a>
        <a class="navbar-brand" routerLink="">Newsletter</a>

      </div>
      <div class="navbar">
        <a routerLink="entrepreneurs">For Entrepreneurs</a>
        <a routerLink="campaign">Start a Campaign</a>
        <a *ngIf="isLoggedIn">
          <a>{{userName}}</a>
          <a (click)="logout()">Log out</a>
        </a>
        <a *ngIf ="!isLoggedIn">
          <a (click)="login()">Log in</a>
        </a>
      </div>
    </div>
  </nav>
</div>
<body>
  <app-hero></app-hero>
</body>
