<h1>New Project</h1>
<div>
  <label>Enter Project Name:</label>
  <input #newName>
</div>
<div>
  <label>Who is starting this project?</label>
  <input #newStarters placeholder="Enter your name(s)">
</div>
<div>
  <label>Enter Project Description:</label>
  <textarea #newDescription id = "myTextArea" rows = "3" cols = "80">
    Your text here
  </textarea>
</div>
<div>
 <label>Enter Project Goal:</label>
 <input #newGoal>
</div>
<div>
  <label>Enter the Plan:</label>
  <input #newPlan>
</div>
<div>
  <label>Enter Image Url</label>
  <input #newImageUrl>
</div>
<div>
 <label>Enter User Rewards for Contribution:</label>
 <input #newUserRewards>
</div>
<div>
 <label>Enter Project Category:</label>
 <input #newCategory>
</div>
<div>
  <label>Task Priority:</label>
  <button (click)="addProject(
    newCategory.value,
    newDescription.value,
    newGoal.value,
    newImageUrl.value,
    newName.value,
    newPlan.value,
    newStarters.value,
    newUserRewards.value
    ); console.log(newUserRewards)"> Add
  </button>
  <!-- includes both a method call and property assignment set back to a string. -->
</div>
